<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>Motion Detection Demo</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/1.12.4/jquery.min.js"></script>
    <script src="static/js/3.3.7/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>Motion Detection Demo</h1>
    <h4>Canny Countour Outlines from OpenCV</h4>
    <h4>Store objects from green bounding boxes for Deep Learning Classification per camera</h4>
    <div class="row">
      <div class="span9">
       Level 1 column
      <div class="row">
        <div class="span6">
          <img id="bg" src="{{ url_for('video_feed') }}">
        </div>
       <div class="span3">span 3 Level 2</div>
      </div>
      </div>
    </div>  
</body>
</html>
